html, body, div{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #835B32 ;
    color: white;
}

.gameHeader{
    width: 100vw;
    text-align: center;
    margin-top: 50px;
}

.content{
    width: 90vw;
    margin: 0 auto;
}

.content__jogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #362614;
    padding: 30px;
}

.content__npc{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content__npc img{
    height: 240px;
}

.content__npc p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.content__button{
    background-color: #B37C43;
    width: 25%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

@media screen and (min-Width: 800px){
    .content{
        max-width: 500px;
    }
    
    .content__button{
        background-color: #5B4023;
    }

    .content__button:hover{
        background-color: #B37C43;
    }
}